body {
  background-color: #232f49;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

#filmList {
  list-style-type: none;

}

.heroHeading {
  font-weight: 900;
  font-size: 55px;
  color: #ffffff

}

.modalHeading {
  font-weight: 900;
  font-size: 48px;
  margin-top: 15px;
  color: #232f49;
}

#filmController {
  margin-left: 7px;
  margin-bottom: 40px;
}


.filmTitle {
  font-weight:400;
  font-size: 16px;
  color: #ffffff;
  transform-origin: left;
}

.filterText {
  font-weight:400;
  font-size: 16px;
  color: #ffffff;
  transform-origin: left;
}

.filmSquare {
  font-weight:600;
  font-size: 16px;
  color: #000000;
  transform-origin: left;
  
}


.filmDescription {
  
}

.subheading {
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 0px;
}


#modalWindow {
  /* display: none; */
  z-index: 1;
  width: 75%;
  height: auto;
  left: 12%;
  top: 25%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  position: fixed;
  overflow: hidden;
  background-color: #ebeff2;
  color: #232f49;
  
}

/* modal menu's close button */
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* responsive square grid for film tiles */
.square-container {
  display: flex;
  flex-wrap: wrap;
}

.square {
  background-color: #4cbcc2; 
  position: relative;
  flex-basis:  125px;
  margin: 5px;
  border: 1px solid;
  text-align: center;
  box-sizing: border-box;
}

.square:hover {
  cursor: pointer;
  transform: translate(0px, -3px);
  -webkit-transform: scale(1.1); 
  overflow: hidden;
}

.square::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.square .content {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
}

.filmSquareTitle {
  color: #232f49;
  margin-top: 2px;
  margin-bottom: 0px;
  font-weight: bolder;
  font-size: 17px;
}